<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pidors</title>
</head>
<body style="background-color:red;">
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae dolore doloribus reprehenderit sint ut? Aliquid commodi facere magnam mollitia odio officiis, placeat sit tenetur unde. Corporis dolorum ipsam iusto rem?
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores assumenda atque, consequatur consequuntur
    dolore dolorum illum magni omnis optio recusandae rerum soluta vero? Culpa esse facere nemo rem sit vitae.
</div>
<div>Ad, blanditiis dicta distinctio doloribus, est eveniet exercitationem hic id impedit laudantium natus, nemo neque
    optio quasi quibusdam reiciendis repudiandae. Amet ducimus eos expedita maiores perspiciatis saepe tempora ullam
    vitae?
</div>
<div>Ad alias debitis, delectus earum eius et fuga harum impedit libero necessitatibus numquam obcaecati, officia
    perspiciatis quae quam quia quos reiciendis, repellat repudiandae saepe sapiente tenetur vero? Ipsum neque, qui.
</div>
</body>
</html>